---
import skills from "../../utils/jsons/skills.json";
---

<section
    id="skills"
    aria-label="Sección de proyectos"
    class="bg-patron-desing dark:bg-patron-desing-dark bg-patron-m-xl lg:bg-patron-m-xl2 h-[calc(calc(100vi/6)*20)] lg:h-[calc(calc(70vi/9)*10)] mb-8 relative overflow-hidden"
>
    <article
        id="skills-content"
        aria-label="Grilla de trabajos"
        class="w-full h-full grid grid-cols-6 lg:grid-cols-9 grid-rows-[repeat(20,minmax(0,1fr))] lg:grid-rows-10"
    >
        <header
            class="bg-white dark:bg-black col-span-4 lg:col-span-3 col-start-2 lg:col-start-2 m-[1px] flex justify-center items-center"
        >
            <p class="text-2xl lg:text-3xl font-extrabold">Habilidades</p>
        </header>

        <section
            class="col-span-5 lg:col-span-4 row-span-2 col-start-2 lg:col-start-6 row-start-3 lg:row-start-2 grid grid-cols-5 lg:grid-cols-4 grid-rows-2"
        >
            {
                skills
                    .filter((s) => s.type === "lenguaje")
                    .map((skill, index) => {
                        if (index === 0) {
                            return (
                                <>
                                    <figure class="w-1/2 m-auto col-span-1 hidden lg:block">
                                        <img
                                            loading="lazy"
                                            src={skill.path}
                                            title={skill.name}
                                            alt={`${skill.type} ${skill.name}`}
                                            class="transition-all hover:scale-110"
                                        />
                                    </figure>
                                    <header class="bg-white dark:bg-black col-span-full lg:col-span-3 row-span-1 m-[1px] flex justify-center items-center">
                                        <p class="text-2xl font-extrabold">
                                            Lenguajes
                                        </p>
                                    </header>
                                    <figure class="w-1/2 m-auto col-span-1 lg:hidden">
                                        <img
                                            loading="lazy"
                                            src={skill.path}
                                            title={skill.name}
                                            alt={`${skill.type} ${skill.name}`}
                                            class="transition-all hover:scale-110"
                                        />
                                    </figure>
                                </>
                            );
                        }

                        return (
                            <figure class="w-1/2 m-auto col-span-1">
                                <img
                                    loading="lazy"
                                    src={skill.path}
                                    title={skill.name}
                                    alt={`${skill.type} ${skill.name}`}
                                    class="transition-all hover:scale-110"
                                />
                            </figure>
                        );
                    })
            }
        </section>

        <section
            class="col-span-5 lg:col-span-4 row-span-2 col-start-1 row-start-6 lg:row-start-3 grid grid-cols-5 lg:grid-cols-4 grid-rows-2"
        >
            <header
                class="bg-white dark:bg-black col-span-full lg:col-span-3 m-[1px] flex justify-center items-center"
            >
                <p class="text-2xl font-extrabold">Frameworks</p>
            </header>

            {
                skills
                    .filter((s) => s.type === "framework")
                    .map((skill) => (
                        <figure class="w-1/2 m-auto col-span-1 ">
                            <img
                                loading="lazy"
                                src={skill.path}
                                title={skill.name}
                                alt={`${skill.type} ${skill.name}`}
                                class={`${
                                    skill.name === "nextjs" &&
                                    "bg-white rounded-full"
                                } transition-all hover:scale-110`}
                            />
                        </figure>
                    ))
            }
        </section>

        <section
            class="col-span-5 lg:col-span-4 row-span-2 col-start-2 lg:col-start-6 row-start-9 lg:row-start-5 grid grid-cols-5 lg:grid-cols-4 grid-rows-2"
        >
            {
                skills
                    .filter((s) => s.type === "estilos")
                    .map((skill, index) => {
                        if (index === 0) {
                            return (
                                <>
                                    <figure class="w-1/2 m-auto col-span-1 hidden lg:block">
                                        <img
                                            loading="lazy"
                                            src={skill.path}
                                            title={skill.name}
                                            alt={`${skill.type} ${skill.name}`}
                                            class="transition-all hover:scale-110"
                                        />
                                    </figure>
                                    <header class="bg-white dark:bg-black col-span-full lg:col-span-3 row-span-1 m-[1px] flex justify-center items-center">
                                        <p class="text-2xl font-extrabold">
                                            Estilos
                                        </p>
                                    </header>
                                    <figure class="w-1/2 m-auto col-span-1 lg:hidden">
                                        <img
                                            loading="lazy"
                                            src={skill.path}
                                            title={skill.name}
                                            alt={`${skill.type} ${skill.name}`}
                                            class="transition-all hover:scale-110"
                                        />
                                    </figure>
                                </>
                            );
                        }

                        return (
                            <figure class="w-1/2 m-auto col-span-1">
                                <img
                                    loading="lazy"
                                    src={skill.path}
                                    title={skill.name}
                                    alt={`${skill.type} ${skill.name}`}
                                    class="transition-all hover:scale-110"
                                />
                            </figure>
                        );
                    })
            }
        </section>

        <section
            class="col-span-5 lg:col-span-4 row-span-2 col-start-1 row-start-12 lg:row-start-6 grid grid-cols-5 lg:grid-cols-4 grid-rows-2"
        >
            <header
                class="bg-white dark:bg-black col-span-full lg:col-span-3 m-[1px] flex justify-center items-center"
            >
                <p class="text-2xl font-extrabold">Servicios</p>
            </header>

            {
                skills
                    .filter((s) => s.type === "servicio")
                    .map((skill) => (
                        <figure class="w-1/2 m-auto col-span-1 ">
                            <img
                                loading="lazy"
                                src={skill.path}
                                title={skill.name}
                                alt={`${skill.type} ${skill.name}`}
                                class="transition-all hover:scale-110"
                            />
                        </figure>
                    ))
            }
        </section>

        <section
            class="col-span-5 lg:col-span-4 row-span-2 col-start-2 lg:col-start-6 row-start-[15] lg:row-start-8 grid grid-cols-5 lg:grid-cols-4 grid-rows-2"
        >
            <header
                class="bg-white dark:bg-black col-span-full m-[1px] flex justify-center items-center"
            >
                <p class="text-2xl font-extrabold">Bases de datos</p>
            </header>

            {
                skills
                    .filter((s) => s.type === "db")
                    .map((skill) => (
                        <figure class="w-1/2 m-auto col-span-1 ">
                            <img
                                loading="lazy"
                                src={skill.path}
                                title={skill.name}
                                alt={`${skill.type} ${skill.name}`}
                                class="transition-all hover:scale-110"
                            />
                        </figure>
                    ))
            }
        </section>

        <section
            class="col-span-5 lg:col-span-4 row-span-2 col-start-1 row-start-[18] lg:row-start-9 grid grid-cols-5 lg:grid-cols-4 grid-rows-2"
        >
            <header
                class="bg-white dark:bg-black col-span-full lg:col-span-3 m-[1px] flex justify-center items-center"
            >
                <p class="text-2xl font-extrabold">Servidor</p>
            </header>

            {
                skills
                    .filter((s) => s.type === "servidor")
                    .map((skill) => (
                        <figure class="w-1/2 m-auto col-span-1 ">
                            <img
                                loading="lazy"
                                src={skill.path}
                                title={skill.name}
                                alt={`${skill.type} ${skill.name}`}
                                class={`${
                                    skill.name === "express" &&
                                    "bg-white rounded-full p-2"
                                } transition-all hover:scale-110`}
                            />
                        </figure>
                    ))
            }
        </section>
    </article>
</section>
