---
import { getDictionary } from "../../../utils/tools"

interface Props {
  lang: string
}

const { lang } = Astro.props
const dic = await getDictionary(lang)
---

<hr class="w-full border-opaque" />
<footer
  aria-label="Footer for extra info"
  class="mx-auto h-min w-full px-4 text-white sm:w-3/4 sm:px-0"
>
  <section class="grid h-min w-full flex-1 gap-4 lg:grid-cols-2">
    <article class="flex h-full flex-col justify-between gap-2 pt-8">
      <p class="min-w-fit font-poppins text-2xl">{dic.footer.reference.title}</p>
      <address class="font-poppins text-xs">
        - "{dic.footer.reference.addr}"
      </address>
    </article>
    <article class="flex pt-8 sm:justify-end">
      <li>
        <header class="mb-4 px-4 font-poppins text-xl">
          {dic.footer.sections.title}
        </header>
        <menu class="text-sm *:transition-all">
          {
            dic.navigation.content.map((item: { name: string; ref: string }) => (
              <a
                href={`#${item.ref}`}
                class="block rounded-md px-4 py-2 lg:hover:bg-opaque"
              >
                {item.name}
              </a>
            ))
          }
        </menu>
      </li>
    </article>
  </section>
  <section class="h-min">
    <p class="py-6 text-xs text-gray-300">{dic.footer.reference.copy}</p>
  </section>
</footer>
