---
import { Image } from "astro:assets"

import { getDictionary } from "../../../utils/tools"

interface Props {
  lang: string
}

const { lang } = Astro.props
const dic = await getDictionary(lang)
---

<article
  aria-label="Projects section"
  class="relative mb-12 h-min w-full px-4 text-white sm:px-0"
>
  <header class="mb-8 text-center">
    <h2 class="font-poppins text-3xl sm:text-4xl">{dic.projects.title}</h2>
  </header>
  <section class="mx-auto grid h-full w-full grid-rows-1 gap-4 sm:w-3/4 sm:grid-cols-2">
    {
      dic.projects.samples.map(
        (sample: {
          name: string
          img: string
          link: string
          technologies: string[]
          description: string
        }) => (
          <article class="h-full w-full bg-black">
            <header class="mb-2">
              <h2 class="font-poppins text-lg lg:text-3xl">{sample.name}</h2>
            </header>
            <section class="rounded-md border-min border-opaque">
              <a href={sample.link} target="_blank" referrerpolicy="no-referrer">
                <Image
                  width={700}
                  height={500}
                  src={sample.img}
                  alt={sample.name}
                  class="mask-hidden mb-4 h-[200px] w-full rounded-t-md sm:h-[300px]"
                />
              </a>
              <figure class="px-4 pb-4">
                <strong class="font-poppins text-lg">{dic.projects.expand.title}</strong>
                <li class="flex gap-4 pt-1">
                  {sample.technologies.map((tech) => (
                    <Image
                      width={75}
                      height={75}
                      src={tech}
                      alt={tech}
                      class:list={[
                        "size-8",
                        tech.includes("next") && "rounded-full bg-white",
                      ]}
                    />
                  ))}
                </li>
              </figure>
              <details>
                <summary class="w-full py-2 text-center transition-all lg:hover:bg-white lg:hover:text-black">
                  {dic.projects.expand.action}
                </summary>
                <article class="px-4 pb-4 pt-2">
                  <strong class="font-poppins text-sm">{dic.projects.expand.job}</strong>
                  <p class="w-[95%] text-pretty text-sm text-gray-300">
                    {sample.description}
                  </p>
                </article>
              </details>
            </section>
          </article>
        )
      )
    }
  </section>
</article>
