---
import { Image } from "astro:assets"

import { getDictionary } from "../../../utils/tools"

interface Props {
  lang: string
}

const { lang } = Astro.props
const dic = await getDictionary(lang)
---

<article
  aria-label="Section for my skills"
  class="relative mb-8 h-min w-full px-4 text-white sm:px-0"
>
  <header class="mb-8 text-center">
    <h2 class="font-poppins text-2xl sm:text-3xl">{dic.skills.title}</h2>
  </header>
  <section
    class="mx-auto grid w-full grid-rows-1 gap-x-4 gap-y-6 sm:w-3/4 sm:grid-cols-2"
  >
    <article class="col-span-full h-full w-full">
      <h3 class="mb-2 font-poppins text-xl sm:text-2xl">{dic.skills.languajes.title}</h3>
      <figure
        class="flex gap-4 overflow-x-auto rounded-md border-min border-opaque p-6 *:transition-all"
      >
        <Image
          alt="Javascript"
          title="Javascript"
          width={50}
          height={50}
          src="/assets/langs/javascript.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Typescript"
          title="Typescript"
          width={50}
          height={50}
          src="/assets/langs/typescript.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Python"
          title="Python"
          width={50}
          height={50}
          src="/assets/langs/python.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Csharp"
          title="Csharp"
          width={50}
          height={50}
          src="/assets/langs/csharp.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Bash"
          title="Bash"
          width={50}
          height={50}
          src="/assets/langs/bash.svg"
          class="size-12 lg:hover:scale-110"
        />
      </figure>
    </article>
    <article class="h-full w-full">
      <h3 class="mb-2 font-poppins text-xl sm:text-2xl">{dic.skills.frontend.title}</h3>
      <figure
        class="flex gap-4 overflow-x-auto rounded-md border-min border-opaque p-6 *:transition-all"
      >
        <Image
          alt="React"
          title="React"
          width={50}
          height={50}
          src="/assets/frontend/react.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Nextjs"
          title="Nextjs"
          width={50}
          height={50}
          src="/assets/frontend/next.svg"
          class="size-12 rounded-full bg-white lg:hover:scale-110"
        />
        <Image
          alt="Astro"
          title="Astro"
          width={50}
          height={50}
          src="/assets/frontend/astro.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Ionic"
          title="Ionic"
          width={50}
          height={50}
          src="/assets/frontend/ionic.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Angular"
          title="Angular"
          width={50}
          height={50}
          src="/assets/frontend/angular.svg"
          class="size-12 lg:hover:scale-110"
        />
      </figure>
    </article>
    <article class="h-full w-full">
      <h3 class="mb-2 text-end font-poppins text-xl sm:text-2xl">
        {dic.skills.backend.title}
      </h3>
      <figure
        class="flex justify-end gap-4 overflow-x-auto rounded-md border-min border-opaque p-6 *:transition-all"
      >
        <Image
          alt="Nginx"
          title="Nginx"
          width={50}
          height={50}
          src="/assets/backend/nginx.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt=".Net"
          title=".Net"
          width={50}
          height={50}
          src="/assets/backend/dotnet.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Node.js"
          title="Node.js"
          width={50}
          height={50}
          src="/assets/backend/node.svg"
          class="size-12 lg:hover:scale-110"
        />
      </figure>
    </article>
    <article class="h-full w-full">
      <h3 class="mb-2 font-poppins text-xl sm:text-2xl">{dic.skills.styles.title}</h3>
      <figure
        class="flex gap-4 overflow-x-auto rounded-md border-min border-opaque p-6 *:transition-all"
      >
        <Image
          alt="Css"
          title="Css"
          width={50}
          height={50}
          src="/assets/frontend/styles/css.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Sass"
          title="Sass"
          width={50}
          height={50}
          src="/assets/frontend/styles/sass.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Tailwind"
          title="Tailwind"
          width={50}
          height={50}
          src="/assets/frontend/styles/tailwind.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Bootstrap"
          title="Bootstrap"
          width={50}
          height={50}
          src="/assets/frontend/styles/bootstrap.svg"
          class="size-12 lg:hover:scale-110"
        />
      </figure>
    </article>
    <article class="h-full w-full">
      <h3 class="mb-2 text-end font-poppins text-xl sm:text-2xl">
        {dic.skills.databases.title}
      </h3>
      <figure
        class="flex justify-end gap-4 overflow-x-auto rounded-md border-min border-opaque p-6 *:transition-all"
      >
        <Image
          alt="Mariadb"
          title="Mariadb"
          width={50}
          height={50}
          src="/assets/backend/database/mariadb.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Mysql"
          title="Mysql"
          width={50}
          height={50}
          src="/assets/backend/database/mysql.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Mongo db"
          title="Mongo db"
          width={50}
          height={50}
          src="/assets/backend/database/mongo.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="PostgreSql"
          title="PostgreSql"
          width={50}
          height={50}
          src="/assets/backend/database/postgres.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Prisma ORM"
          title="Prisma ORM"
          width={50}
          height={50}
          src="/assets/backend/orm/prisma.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Sequelize ORM"
          title="Sequelize ORM"
          width={50}
          height={50}
          src="/assets/backend/orm/sequelize.svg"
          class="size-12 lg:hover:scale-110"
        />
      </figure>
    </article>
    <article class="col-span-full h-full w-full">
      <h3 class="mb-2 text-end font-poppins text-xl sm:text-2xl">
        {dic.skills.others.title}
      </h3>
      <figure
        class="flex justify-end gap-4 overflow-x-auto rounded-md border-min border-opaque p-6 *:transition-all"
      >
        <Image
          alt="Docker"
          title="Docker"
          width={50}
          height={50}
          src="/assets/others/docker.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Git"
          title="Git"
          width={50}
          height={50}
          src="/assets/others/git.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Json Web Token"
          title="Json Web Token"
          width={50}
          height={50}
          src="/assets/others/jwt.svg"
          class="size-12 lg:hover:scale-110"
        />
        <Image
          alt="Linux"
          title="Linux"
          width={50}
          height={50}
          src="/assets/others/linux.svg"
          class="size-12 lg:hover:scale-110"
        />
      </figure>
    </article>
  </section>
</article>
